body{
    background-color: rgb(0, 241, 221);
}

@font-face {
    font-family: 'League';
    src: url('./Font/League.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BalooBhaijaan2SemiBol';
    src: url('./Font/BalooBhaijaan2-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

.MainImg {
    margin-top: 25px;
    height: 430px;
    user-select: none;
}

.ImgSatoruGojo {
    margin-left: 35px;
    width: 300px;
    height: 430px;
    z-index: 1;
    position: relative;
}

.ImgCircle {
    margin: -395px 0px 0px 20px;
    width: 335px;
    height: 335px;
    background-color: rgb(245, 245, 245);
    border-radius: 100%;
    position: relative;
}

.Name {
    margin-left: 20px;
    font-family: 'BalooBhaijaan2SemiBol';
    font-size: 50px;
}

.friends {
    display: flex;
}

.friendsText {
    margin-top: -3px;
    margin-left: 20px;
    font-family: 'BalooBhaijaan2SemiBol';
    font-size: 30px;
}

.ImgYuzakiIdatori {
    margin-left: 100px;
    width: 40px;
    height: 40px;
    border-radius: 20%;
}

.ImgNobaraKugisaki {
    margin-left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 20%;
}

.ImgMegumiFushiguro {
    margin-left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 20%;
}