body{
    background-color: rgb(0, 241, 221);
}

@font-face {
    font-family: 'League';
    src: url('./Font/League.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BalooBhaijaan2SemiBol';
    src: url('./Font/BalooBhaijaan2-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

.MainImg {
    height: 400px;
    user-select: none;
}

.ImgSatoruGojo {
    margin-left: 100px;
    width: 150px;
    height: 400px;
    z-index: 1;
    position: relative;
}

.ImgCircle {
    margin: -365px 0px 0px 9px;
    width: 320px;
    height: 320px;
    background-color: rgb(245, 245, 245);
    border-radius: 100%;
    position: relative;
}

.Name {
    margin-left: 20px;
    font-family: 'BalooBhaijaan2SemiBol';
    font-size: 50px;
}

.friendsText {
    margin-top: -10px;
    margin-left: 20px;
    font-family: 'BalooBhaijaan2SemiBol';
    font-size: 30px;
}
